.registerWrapper {
    height: 100%;
    
}
.registerWrapper form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 100px auto;
    min-height: 250px;
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 9px 0.2px rgba(0, 0, 0, 0.5);
}
.registerWrapper h1 {
    color: #430d29;
    text-transform: uppercase;
    margin-bottom: 0;
}
.formWrapper {
    display: flex;
    flex-direction: column;
    border-top: 2px solid #430d29;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
    box-sizing: border-box;
}
.formWrapper p {
    margin: 0;
}

.registerWrapper input {
    margin: 10px auto;
    background-color: whitesmoke;
    outline: none;
    border: none;
    height: 30px;
    width: 60%;
    border-radius: 5px;
    padding: 5px 10px;
    box-sizing: border-box;
    box-shadow: 0 0 9px 0.2px rgba(0, 0, 0, 0.5);
    text-align: center;
}
.registerWrapper button {
    height: 45px;
    padding: 10px;
    margin-top: 20px;
    background-color: #430d29;
    color: white;
    border: none;
    text-transform: uppercase;
    border-radius: 0 0 5px 5px;
}
.registerWrapper a {
    color: #430d29;
    font-weight: 700;
    text-decoration: underline;
}
.registerWrapper a:hover{
    cursor: pointer;
}
.err {
    color: red;
    margin: 0;
    text-transform: uppercase;
}
@media screen and (max-width:900px) {
    .registerWrapper h1 {
       font-size: 24px;
    }
    .registerWrapper form {
        width: 80%;
    }
    .formWrapper p, .formWrapper a {
       font-size: 12px;
    }
}