.heroBanner {
    height: 550px;
    position: relative;
    background-image: url("../../Assets/home1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -250px;
}

.heroBanner img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.heroTitle {
    position: absolute;
    color: white;
    width: 35%;
    bottom: 100px;
    left: 50px;
    text-transform: uppercase;
}
.heroTitle h1 {
    font-size: 64px;
    font-weight: 500;
    margin-bottom: 0;
    letter-spacing: 2.5px;
}
.heroBanner h3 {
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 300;
}
.overlay {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.4;
}
.sectionTitle {
    color: #430d29;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    font-size: 42px;
    margin: 40px 0;
}
.cardWrapper {
    width: 80%;
    margin: 20px auto;
    display: flex;
    padding-left: 10px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    min-height: 300px;
}
.cardWrapper::-webkit-scrollbar {
    display: none;
}
.corousel {
    position: relative;
}
.leftArrow,
.rightArrow {
    position: absolute;
    font-size: 150px;
    bottom: 0;
    top: 0;
    margin: auto;
    color: #430d29;
}
.leftArrow {
    left: 50px;
}
.rightArrow {
    right: 40px;
}
.leftArrow:hover,
.rightArrow:hover {
    cursor: pointer;
}
@media screen and (max-width: 800px) {
    .heroBanner {
        background-position-y: center;
        background-position-x: center;
    }
    .heroBanner button {
        font-size: 14px;
        padding: 10px 20px;
        left: 0;
        right: 0;
        margin: 0 auto;
        transform: translate(20%, 15%);
    }
    .heroTitle {
        width: 80%;
        top: 100px;
        left: 50px;
    }
    .heroTitle h1 {
        font-size: 36px;
        margin-bottom: 0;
        letter-spacing: 2px;
    }
    .heroBanner h3 {
        margin: 0 auto;
        font-size: 12px;
    }
    .sectionTitle {
        font-size: 20px;
        margin: 20px 0;
    }
    .cardWrapper {
        width: 83%;
        padding-left: 0;
    }
    .leftArrow {
        left: -20px;
        font-size: 80px;
    }
    .rightArrow {
        right: -28px;
        font-size: 80px;
    }
}
